<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: headFragment"></head>
<head>
    <title>Title</title>
</head>
<body>

<div class="container center-contents">
    <div class="row">
        <h1 class="title display-5 text-info"> 관리자  페이지 </h1>
    </div>
    <div class="links">
        <br>
        <div class="link">
            <a href="/"> 메인 </a>
        </div>
        <br>
        <div class="link">
            <a href="/admin/user/list"> 회원목록 </a>
        </div>

    </div>
</div>
<script th:src="@{/js/bootstrap.js}" />
</body>
</html>