<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: headFragment"></head>
<head>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>


<div class="container center-contents">
    <div class="row">
        <form class="form-signin" method="post" th:action="@{/user/create}">

            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> 회원가입 </h1>

            <label for="userId" class="sr-only">아이디</label>
            <input type="text" id="userId" name="userId" class="form-control" placeholder="아이디" required autofocus>

            <label for="password" class="sr-only">비밀번호</label>
            <input type="password" id="password" name="password"  class="form-control" placeholder="비밀번호" required>

            <label for="name" class="sr-only">이름</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="이름">

            <label for="email" class="sr-only">이메일</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="이메일">

            <label for="phoneNumber" class="sr-only">휴대폰번호</label>
            <input type="number" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="휴대폰번호">

            <div class="checkbox mb-3" style="text-align: center; margin-top: 10px;">
                <label>
                    <input type="radio" name="auth" value="ROLE_ADMIN,ROLE_USER"> admin
                    <input type="radio" name="auth" value="ROLE_USER" checked="checked"> user <br>
                </label>
            </div>

            <button class="btn btn-lg btn-primary btn-block"  type="submit"> 가입하기 </button>
            <a class="btn btn-lg btn-secondary btn-block" th:href="@{'/login'}"> 로그인 페이지 </a>
            <a class="btn btn-lg btn-secondary btn-block" th:href="@{'/'}"> 메인 페이지 </a>
        </form>

    </div>
</div>

<script th:src="@{/js/bootstrap.js}" />
</body>
</html>