<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: headFragment"></head>
<head>
    <title class="center"> 회원 목록  </title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body class="userList-form">
<div>
    <a class="btn btn-lg btn-secondary btn-block2" th:href="@{'/admin-page'}"> 관리자 페이지 </a>
    <main role="main">
        <div class="title-bar">
            <h4> 회원 목록 </h4>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col"> No. </th>
                <th scope="col"> 아이디 </th>
                <th scope="col"> 이름 </th>
                <th scope="col"> 이메일 </th>
                <th scope="col"> 핸드폰번호 </th>
                <th scope="col"> 상태 </th>
                <th scope="col"> 권한 </th>
                <th scope="col"> 가입날짜 </th>
                <th scope="col"> 수정날짜 </th>
                <th scope="col"> 승인여부 </th>
                <th scope="col"> 삭제여부 </th>

                <th scope="col"> 승인</th>
                <th scope="col"> 삭제/복구</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${page?.content}" th:object="${user}">

                <td th:text="*{id}"> No </td>
                <td th:text="*{userId}"> 아이디 </td>
                <td th:text="*{name}"> 이름 </td>
                <td th:text="*{email}"> 이메일 </td>
                <td th:text="*{phoneNumber}"> 핸드폰번호 </td>
                <td th:text="*{status.description}"> 상태 </td>
                <td>
                    <div th:each="auth : *{authorities}" th:object="${auth}">
                        <span th:text="*{authority}">권한</span>
                    </div>
                </td>
                <td th:text="*{createdDate}"> 가입날짜 </td>
                <td th:text="*{modifiedDate}"> 수정날짜 </td>
                <td th:text="*{approval}"> 승인여부 </td>
                <td th:text="*{delYn}"> 삭제여부 </td>

                <td>
                    <th:block th:if="*{approval == 'N'}">
                        <button class="btn btn-approval" type="button" th:onclick="|approval('*{id}')|"> 승인 </button>
                    </th:block>
                    <th:block th:if="*{approval == 'Y'}">
                        <button class="btn btn-approval-cancel" type="button" th:onclick="|approvalCancel('*{id}')|"> 취소 </button>
                    </th:block>
                </td>

                <td>
                    <th:block th:if="*{delYn == 'N'}">
                        <button class="btn btn-remove" type="button" th:onclick="|remove('*{id}')|"> 삭제 </button>
                    </th:block>
                    <th:block th:if="*{delYn == 'Y'}">
                        <button class="btn btn-restore" type="button" th:onclick="|restore('*{id}')|"> 복구 </button>
                    </th:block>
                </td>

            </tr>
            </tbody>
        </table>

        <div th:replace="fragments/paging :: paging(path='/admin/userList', paging=${page})" />

    </main>

</div>
</body>

<script>

    var contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';

    function approval(id) {

        var url = contextPath + '/admin/userApproval';

        $.ajax({
            url : url
            , type : "GET"
            , data: {
                'id' : id
            }
            , contentType : "application/json; charset=utf-8"
            , success: function(result) {
                if(result) {
                    location.reload();
                }else {
                    alert("알 수 없는 에러입니다.");
                }

            }
        });

    }

    function approvalCancel(id) {

        var url = contextPath + '/admin/userApprovalCancel';

        $.ajax({
            url : url
            , type : "GET"
            , data: {
                'id' : id
            }
            , contentType : "application/json; charset=utf-8"
            , success: function(result) {
                if(result) {
                    location.reload();
                }else {
                    alert("알 수 없는 에러입니다.");
                }

            }
        });

    }


    function remove(id) {

        var url = contextPath + '/admin/userRemove';

        $.ajax({
            url : url
            , type : "GET"
            , data: {
                'id' : id
            }
            , contentType : "application/json; charset=utf-8"
            , success: function(result) {
                if(result) {
                    location.reload();
                }else {
                    alert("알 수 없는 에러입니다.");
                }

            }
        });

    }


    function restore(id) {

        var url = contextPath + '/admin/userRestore';

        $.ajax({
            url : url
            , type : "GET"
            , data: {
                'id' : id
            }
            , contentType : "application/json; charset=utf-8"
            , success: function(result) {
                if(result) {
                    location.reload();
                }else {
                    alert("알 수 없는 에러입니다.");
                }

            }
        });

    }

</script>

</html>